:root{
    --theme-color: white;
    --primary-color: rgb(65, 105, 203);
    --secundary-color: rgb(206, 71, 129);
    --text-color: rgb(27, 26, 26);
    --text-color-inverse: white;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #3a4460;
}
*{
    margin: 0;
    padding: 0;   
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 85px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
}
.vertical-padding{
    padding-top: 25px;
    padding-bottom: 25px;
}

.top-header{
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--theme-color);
    z-index: 5;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 950px;
    margin: 0 auto;
}
.foto{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 550;
    color: var(--primary-color);
    
}
.top-nav img{
    height: 40px;
    border-radius: 50%;
    padding-right: 5px;
    
}
.menu{
    display: flex;
    list-style: none;

}
.menu li{
    padding: 0 15px;
}

.menu a{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 550;
    line-height: 50px;
    text-transform: uppercase;
}
.open-menu,
.close-menu{
    display: none;
}

@media (max-width:950px){
    body{
        
    }
    
    .menu{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--menu-mobile-background-color);
        height: 100%;
        overflow-y: auto;  
        opacity: 0;   
        pointer-events: none;
        transition: all 0.5s ;
    
    }
    .menu li{
        padding: 0;
    }
    
    .menu a{
        color: var(--text-color-inverse);
        line-height: 60px;
    }
    .open-menu,
    .close-menu{
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        
        

    }
    
    .close-menu{
        align-self: flex-end;
        padding: 12px 12px;
        
        
    }
    .menu-opened{
        opacity: 1;
        pointer-events: all;
        
    }
    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible){
        outline: none;
    }
}
.perfil-info{
    margin-bottom: 25px;
}
.perfil-img{
    width: 80%;
    max-width: 320px;
    border-radius: 30px;
    transform: scaleX(-1)
}

.perfil-section{
    text-align: center;
}
.perfil-titulo{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    color: var(--primary-color);
    font-family: sans-serif;
}
.perfil-detalles{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    max-width: 450px;
    margin: 20px auto;
    padding: 5px;
}

.perfil-btn{
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
    border: none;
    font-size: 25px;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 15px;
    
}

@media (min-width:950px){
    .perfil-info{
        margin-bottom: 0px;
        padding: 5px;
        
    }
    .perfil-img{
        width: 100%;
        max-width: 350px;
        border-radius: 30px;
        transform: scaleX(-1);
    }
    
    .perfil-section{
        display: flex;
        text-align: left;
        justify-content: space-between;
        max-width: 950;
        width: 950px;
        margin: 0 auto;
        align-items: center;
    }
    .perfil-titulo{
        font-size: 60px;
        font-weight: 800;
        margin: 0;
        color: var(--primary-color);
        font-family: sans-serif;
    }
    .perfil-detalles{
        font-size: 25px;
        font-weight: 400;
        line-height: 1.3;
        max-width: 450px;
        margin: 30px auto;
        padding: 5px;
    }
    
    .perfil-btn{
        background-color: var(--primary-color);
        color: var(--text-color-inverse);
        border: none;
        font-size: 28px;
        padding: 0.5em 1em;
        cursor: pointer;
        border-radius: 15px;
        
    }
    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    }
    .vertical-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    }

}
